<div class="container" style="padding-left: 20%">
  <form class="example-form form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value=" CaterFlow --- Client Company Name" />
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <h4>Employee Information</h4>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input
              matInput
              name="f-name-txt-box"
              [(ngModel)]="userRegistrationForm.firstName"

            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              name="l-name-txt-box"
              [(ngModel)]="userRegistrationForm.lastName"

            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              matInput
              name="username-txtbox"
              [(ngModel)]="userRegistrationForm.username"

            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              name="pw-textbox"
              [(ngModel)]="userRegistrationForm.password"

            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="jlynn@caterflow.com"
              name="email-txt-box"
              [(ngModel)]="userRegistrationForm.email"

            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <h4>Employee Roles</h4>
      </tr>

      <ng-container *ngFor="let r of roleNames">
        <tr>
          <td>
            <mat-checkbox
              name="roles-chkbx"

              (change)="onRoleSelectionChange($event, r)"
              [checked]="selectedRoles.includes(r)"

              >{{ r }}
            </mat-checkbox>
          </td>
        </tr>
      </ng-container>
      <tr>
        <button
          mat-button
          class="btn btn-right btn-primary"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </tr>
    </table>
  </form>
</div>
